.icon {
  display: inline;
  vertical-align: middle;
  aspect-ratio: 1;
  box-sizing: content-box;
}

.xs {
  height: 20px;
}

.sm {
  height: 32px;
}

.md {
  height: 40px;
}

.lg {
  height: 56px;
}

.xl {
  height: 88px;
}
