.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  position: relative;
  z-index: 1;

  --page-padding: 24px;

  @media (max-width: 960px) {
    --page-padding: 16px;
    padding-bottom: 64px;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.body {
  padding-top: 32px;
  flex: 1 0 auto;
  width: 100%;
  position: relative;
  overflow: clip;
  display: flex;
  align-items: stretch;
  flex-flow: column;

  @media (max-width: 960px) {
    padding-bottom: 0;
    gap: 0;
  }

  &::before {
    width: 800px;
    height: 800px;
    right: -320px;
    top: 60px;
    --color: var(--page-decoration-color-3);
  }

  &:after {
    width: 460px;
    height: 460px;
    right: 180px;
    top: 40px;
    --color: var(--page-decoration-color-2);
  }
}

.content {
  width: 100%;
  flex: 1 0 0;
  padding: 0 var(--page-padding, 24px) 32px;
  max-width: calc(var(--page-width, 1008px) + var(--page-padding, 24px) * 2);
  margin: 0 auto;
  display: flex;
  gap: 24px;
  flex-flow: column;

  &::before {
    width: 320px;
    height: 320px;
    right: -280px;
    top: 0;
    --color: var(--page-decoration-color-1);
  }
}

.body::before,
.body::after,
.content::before {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  transition: backgroundColor 0.25s ease;
  filter: blur(50px);
  pointer-events: none;
  filter: blur(30px);
  background: radial-gradient(
    circle,
    rgba(var(--color, transparent) / 0.3) 0%,
    rgba(var(--color, transparent) / 0) 100%
  );

  @media (min-width: 1024.1px) {
    content: '';
  }
}

.footer {
  margin-top: 32px;
}
