.container {
  flex: 1 0 0;
  display: flex;
  flex-flow: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.box {
  max-width: 512px;
  width: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.body,
.content {
  display: flex;
  flex-flow: column;
  gap: 16px;
  max-width: 100%;
}

.image {
  height: 200px;
  width: 240px;
  object-fit: contain;
  margin: -100px auto 0;
}

.text {
  composes: container from '../../TextBlock/TextBlock.module.scss';
  margin: 0 auto;
  max-width: 160px;
  text-align: center;
}

.footer {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
  justify-content: center;
}

.details {
  width: 100%;
}

.stack {
  display: block;
  overflow: auto;
  max-width: 100%;
}
