.container{
  display: flex;
  flex-flow: column;
  width: 100%;
  cursor: pointer ;

  &.active{
    svg{
      transform: rotate(180deg);
      path{
        fill: rgba(var(--color-primary) / 1);
      }
    }
  }
}

.itemToggle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  span{
    color: var(--color-light);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
  }
}

.containerChildren{

  display: flex;
  gap: 8px;
  padding-top: 16px;
  flex-wrap: wrap;
}


.children{
  display: flex;
  //cursor: pointer ;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--color-bg-90);
  color: var(--color-light);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  &.active{
    background-color: rgba(var(--color-primary) / 1);
    color: var(--color-bg-100);;
  }
}