.container {
  display: flex;
  flex-flow: column;
  border: 1px var(--color-dark-40) solid;
  border-radius: 16px;
  background: var(--color-dark-40);

  &:first-child {
    border-top: 0;
    margin-top: -32px;
    border-radius: 0 0 16px 16px;
  }

  @media (max-width: 960px) {
    margin: -32px calc(-1 * var(--page-padding)) 0;
    border-radius: 0 !important;
  }
}

.illustration {
  display: block;
  width: 100%;
  height: auto;
  border: inherit;
  border-radius: inherit;
  overflow: hidden;
}

.tokens {
  margin: -44px auto;
  height: 88px;

  @media (max-width: 960px) {
    margin: -32px var(--page-padding) -32px auto;
    height: 64px;
  }
}

.body {
  flex: 1 0 auto;
  border: inherit;
  border-radius: inherit;
  overflow: clip;
}
