.container {
  width: 100%;
  display: flex;
  gap: 24px;

  @media (max-width: 960px) {
    flex-flow: column;
  }
}

.main {
  flex: 1 0 0;
  max-width: 100%;
}

.aside {
  &:empty {
    display: none;
  }

  @media (min-width: 960.1px) {
    flex: 0 0 clamp(280px, calc(50% - 12px), 480px);
  }
}
