.addressessContainer{
  background: var(--color-bg-60);
  border-radius: 8px;
  padding: 16px 0 8px 0;
  display: flex;

}
.addressessItem{
  display: flex;
  flex-direction: column;
  width: 50%;
  &:not(:last-child){
    border-right: 1px solid var(--color-dark)
  }
}

.addressessTitle{
  color: var(--color-text);
  font-size: 10px;
  line-height: 1.6;
  text-transform: uppercase;
  padding-left: 16px;
}

.addressessCopy{
  padding-left: 4px;
  svg{
    fill: var(--color-text);
  }
  button{
    font-size: 14px !important;
    color: var(--color-light);
    &:hover{
      background-color: var(--color-bg-60);
    }
  }
}