.container {
  display: flex;
  flex-flow: column;
  gap: 16px;
  flex: 1 0 160px;
}

.header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.heading {
  margin-right: auto;
}

.subtitle {
  font-weight: 400;
  color: var(--color-text);
}

.body {
  flex: 1 0 120px;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.value {
  font-weight: 700;
  vertical-align: baseline;
}

.chart {
  min-height: 160px;
  height: auto !important;
  user-select: none;
}
