.container {
  width: 100%;
  display: flex;
  gap: 24px;

  @media (max-width: 960px) {
    flex-flow: column;
  }
}

.main {
  flex: 1 0 0;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.aside {
  @media (min-width: 960.1px) {
    padding-top: 24px;
    flex: 0 0 320px;
    width: 320px;
  }
}

.menu {
  display: flex;
  flex-flow: column;
  gap: 32px;
}

.dropdown {
  composes: button from '../Dropdown/Dropdown.module.scss';
  width: 100%;

  &Content {
    border-radius: 16px;
    background: var(--color-hover);
    padding: 16px 0 0;

    .section {
      --list-background: transparent;
      --list-delimiter: transparent;
      --list-radius: 0;

      &:not(:last-child) {
        padding-bottom: 16px;
        border-bottom: 1px var(--color-bg-100) solid;
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: 960px) {
  .menu {
    display: none !important;
  }
}

@media (min-width: 960.1px) {
  .dropdown,
  .dropdownContent {
    display: none !important;
  }
}
