/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer tailwind {
  @tailwind base;
}

@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';

@font-face {
  font-family: 'Druk Wide Trial Bold';
  font-style: normal;
  font-weight: normal;
  src:
    local('Druk Wide Trial Bold'),
    url('./DrukBold/DrukWide-Bold-Trial.woff') format('woff');
}

:root {
  --page-width: 1420px;
  --page-padding: 24px;
  --color-light: #fff;

  --separated-gap-x: 24px;
  --separated-gap-y: 20px;

  --color-bg-100: #040508;
  --color-bg-90: #0e1015;
  --color-bg-80: #14161d;
  --color-bg-70: #191b23;
  --color-bg-60: #1d2129;
  --color-bg-40: #2d313d;

  --color-text: #80838f;
  --color-muted: #7e8391;

  --color-prompt: #c15bf8;
  --color-success: #00e068;
  --color-danger: #ff4063;
  --color-info: #27beff;
  --color-warn: #ff9900;
  --color-hover: #232b3f;
  --color-positive: var(--color-success);
  --color-negative: var(--color-danger);

  --color-separator: #2d313d;
  --color-shadow: rgb(0, 200, 93);
  --bg-color: var(--color-bg-90);
  --pt-apk-value: 0.25em;

  --header-height: 5rem;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--family);
  scrollbar-gutter: stable;
  background: var(--color-bg-90) !important;
}

body {
  min-height: 100dvh;
  color: var(--color-text);
  line-height: 1.42857;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-flow: column;
  background: var(--color-bg-90) !important;
}

.druk-wide-trial-bold {
  font-family: 'Druk Wide Trial Bold', sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
@layer components {
  .disconnectedV2,
  .connectedV2 {
    @apply relative;
  }
  .disconnectedV2:before,
  .connectedV2:before {
    @apply absolute bottom-0 right-0 z-[1] h-[200px] w-[200px] rounded-[100px] content-[""];
  }
  .disconnectedV2:before {
    background: radial-gradient(circle, rgba(135, 177, 155, 0.3) 0%, rgba(135, 177, 155, 0) 60%);
  }
  .connectedV2:before {
    background: radial-gradient(circle, rgba(1, 225, 105, 0.3) 0%, rgba(1, 225, 105, 0) 60%);
  }
  .edit-card:before {
    @apply absolute left-0 top-0 z-[-1] h-1/2 w-full bg-box-light content-[""];
  }

  .tab_underline::after {
    @apply absolute bottom-[-7px] left-[0px] h-1 w-7 max-w-full rounded bg-green-500 content-[""];
  }
}

.tick::before {
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.99999 2.41667C5.81183 2.41667 2.41666 5.81185 2.41666 10C2.41666 14.1882 5.81183 17.5833 9.99999 17.5833C14.1882 17.5833 17.5833 14.1882 17.5833 10C17.5833 5.81185 14.1882 2.41667 9.99999 2.41667ZM0.916656 10C0.916656 4.98342 4.9834 0.916672 9.99999 0.916672C15.0166 0.916672 19.0833 4.98342 19.0833 10C19.0833 15.0166 15.0166 19.0833 9.99999 19.0833C4.9834 19.0833 0.916656 15.0166 0.916656 10ZM14.2803 6.96968C14.5732 7.26257 14.5732 7.73744 14.2803 8.03034L9.28032 13.0303C8.98743 13.3232 8.51255 13.3232 8.21966 13.0303L5.71966 10.5303C5.42677 10.2374 5.42677 9.76257 5.71966 9.46968C6.01255 9.17678 6.48743 9.17678 6.78032 9.46968L8.74999 11.4393L13.2197 6.96968C13.5126 6.67678 13.9874 6.67678 14.2803 6.96968Z' fill='%2300C85D'/%3E%3C/svg%3E%0A");
  position: absolute;
  left: 0;
  margin: auto;
}

@keyframes customAnimation {
  0% {
    transform: scale(0.95);
    filter: blur(10px);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
}

.page-content {
  width: 100%;
  flex: 1 0 0;
  max-width: calc(var(--page-width, 1008px) + var(--page-padding, 24px) * 2);
  margin: 0 auto;
  display: flex;
  gap: 24px;
  flex-flow: column;
  padding-top: 6rem;
}

.page-content-no-pt {
  width: 100%;
  flex: 1 0 0;
  max-width: calc(var(--page-width, 1008px) + var(--page-padding, 24px) * 2);
  margin: 0 auto;
  display: flex;
  gap: 24px;
  flex-flow: column;
}

.page-content-no-pt-no-flex {
  width: 100%;
  max-width: calc(var(--page-width, 1008px) + var(--page-padding, 24px) * 2);
  margin: 0 auto;
  display: flex;
  gap: 24px;
  flex-flow: column;
}

.header {
  max-width: calc(var(--page-width, 1008px) + var(--page-padding, 24px) * 2);
}

.page-content-locker {
  --page-width: 1420px;
  width: 100%;
  flex: 1 0 0;
  max-width: calc(var(--page-width, 1008px) + var(--page-padding, 24px) * 2);
  margin: 0 auto;
  display: flex;
  gap: 24px;
  flex-flow: row;
  padding-top: 6rem;
}

.separated-container {
  --separated-gap-x: 24px;
  --separated-gap-y: 20px;

  display: flex;
  gap: var(--separated-gap-y, var(--separated-gap-x, 16px)) var(--separated-gap-x, 16px);
  align-items: stretch;
  overflow: clip;

  @media (max-width: 960px) {
    --separated-gap: 8px;
  }
}

.separated-horizontal {
  flex-flow: row wrap;
}

.separated-vertical {
  flex-direction: column;
}

.separated-item {
  flex: 0 0 max-content;
  max-width: 100%;
  display: flex;
  align-items: stretch;
  min-height: 24px;
  padding: 4px 0;
  position: relative;
}

.separated-item::before {
  content: '';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: calc(-1 * var(--separated-gap-x, 16px) / 2);
  border-left: 1px #1f2229 solid;
}

.separated-item::after {
  content: '';
  position: absolute;
  bottom: calc(-1 * var(--separated-gap-y, var(--separated-gap-x, 16px)) / 2);
  left: calc(-1 * var(--separated-gap-x, 16px) / 2);
  right: calc(-1 * var(--separated-gap-x, 16px) / 2);
  border-bottom: 1px var(--color-separator, var(--color-bg-60)) solid;
}

.separated-delimiter {
  flex: 1 0 0;
}

.tab-label-badge::before {
  content: attr(data-number);
  position: absolute;
  top: -10px;
  right: -20px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.no-arrows {
  -moz-appearance: textfield;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pt-apk {
  padding-top: var(--pt-apk-value);
}
