.container {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-flow: column;
}

.icon {
  width: 20px;
  height: 20px;
}

.header {
  display: flex;
  gap: 8px;
}

.body {
  display: flex;
  flex-flow: column;
  gap: 12px;
}

.input {
  flex: 1 0 0;
  display: flex;
  align-items: center;

  .icon {
    margin-right: -28px;
  }
}

.control {
  background: none;
  border: 0;
  height: 36px;
  flex: 1 0 0;
  background: none !important;
  border-color: transparent !important;
  padding-left: 44px;
}

.close {
  margin-right: -8px;
}
